@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gongbuFont;
  src: url("/fonts/gongbuFont.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}